body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(240, 236, 227);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  color: rgb(136, 110, 77);
}

h2 {
  font-style: italic;
}

p {
  color: rgb(0, 48, 63);
  padding-left: 10px;
}

span {
  font-size: 14px;
  font-style: italic;
}

button {
  margin: 10px 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgb(223, 211, 195);
  color: rgb(89, 110, 121);
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

input {
  margin: 10px auto 30px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="text"]:focus {
  border: 1px solid rgb(136, 110, 77);
  -webkit-border: 1px solid rgb(136, 110, 77);
}

img {
  max-width: 80%;
}

.art-main,
.search {
  margin: 30px auto;
  width: 90%;
}

.selection {
  width: 80%;
  height: 400px;
  margin: 30px auto;
}

.option-button {
  margin: 0 auto;
  display: inline-block;
}

@media screen and (min-width: 900px) {
  img {
    margin: 10px 20px 10px 20px;
    width: 80%;
    max-width: 900px;
  }

  .art-main,
  .search-main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
  }

  .art-info,
  .search-info {
    grid-column: 1 / 2;
    padding: 10px 0;
    height: 100vh;
    overflow-y: auto;
  }

  .search-info {
    grid-row: 2 / 3;
  }

  .nav {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .art-info h2,
  .search-info h2 {
    margin: 50px auto 40px auto;
    width: 70%;
  }

  .art-info p,
  .search-info p {
    padding: 20px 20%;
    /* width: 70%; */
    background: rgb(223, 211, 195);
    line-height: 1.4em;
  }

  .art-image,
  .search-image {
    grid-column: 2 / 3;
  }

  .search-image {
    grid-row: 2 / 3;
  }

  .search-box {
    grid-column: 1 / 3;
  }
}
